<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registrar Tarea</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-light">

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="text-center mb-4">Registrar Tarea</h2>

          <form action="/registro" method="post">
            <div class="mb-3">
              <label for="id" class="form-label">ID-Tarea:</label>
              <input type="number" class="form-control" id="id" name="id" required>
            </div>

            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre Tarea:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>

            <div class="mb-3">
              <label for="apellido" class="form-label">Descripción Tarea:</label>
              <input type="text" class="form-control" id="apellido" name="apellido" required>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>









